<Configuration status="INFO" packages="">
  <Appenders>
    <Console name="stdout" target="SYSTEM_OUT">
      <!-- <JsonLayout compact="true" eventEol="true">
        <KeyValuePair key="sessionId" value="$${ctx:session.id}"/>
      </JsonLayout> -->
      <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %-5p %c{1}:%L - %m %X{session.id}%n"/>
    </Console>
  </Appenders>

  <Loggers>
    <Root level="info">
      <AppenderRef ref="stdout"/>
    </Root>
  </Loggers>
</Configuration>